.darkmode--activated .navbar {
    background-color: #00000000!important;
    box-shadow: 0 0.125rem 0.25rem rgba(248, 248, 248, 0.151) !important;
}

.darkmode--activated .bg-white a {
    color: gray!important;
}
// .darkmode--activated .py-4{
//     background-color: #c7c7c7;
// }
.darkmode--activated h1{
    color: white;
}

.darkmode--activated div{
    color: white;
}

.darkmode--activated span{
    color: white;
}

.darkmode--activated .form-control{
    background-color: black;
}

.darkmode--activated .card{
    background-color: black;
    border: groove;
    border-color: gray;
}

.darkmode--activated .btn-danger{
    background-color: black !important;
}

.darkmode-toggle{
    z-index: 500;
}

#top-button{
    border-radius: 50%;
    z-index: 500;
    bottom: 120px;
    position: fixed;
    right: 32px;
    height: 46px;
    width: 46px;
}

.hide{
    opacity: 0;
}

.show{
    opacity: 1;
}



// .darkmode--activated .row{
//     border: 1px solid #ffffff;
//     border-radius: 25px;
// }
