<template>
    <form>
        <div v-for="comment in comments" :key="comment.id">
            <p v-html="comment"></p>
        </div>
        <p style="color:red" v-if="error != ''">{{ error }}</p>
        <div class="form-group row">
            <label for="comment" class="col-md-4 col-form-label"></label>

            <input v-model="field"
            id="comment"
            placeholder="Type a comment"
            type="text"
            class="form-control @error('comment') is-invalid @enderror"
            comment="comment"
            value=" "
            required autocomplete="comment"
            autofocus/>

            <br>
            <div class="pt-2">
                <button type="submit" class="btn btn-primary btn-block pt-2" @click.prevent="addComment">Add comment</button>
            </div>
        </div>
    </form>
</template>

<script>
    export default{

        props: [
            'commenterName',
            'postId',
            'profileId',
        ],

        data() {
            return {
                comments: [],
                field:'',
                error:'',
            }
        },

        methods: {
            addComment: function(){

                this.error = '';

                var comment = `<span><strong><a href="/profile/${this.profileId}">${this.commenterName}</a></strong> ${this.field}</span>`;
                if(this.field != ''){

                    this.comments.push(comment);

                    axios({
                        method: 'post',
                        url: '/comment/' + this.postId,
                        data: {
                            description: this.field,
                            profile_id: this.profileId
                        }
                    })
                    .then(response => {
                        console.log(response.data);
                        console.log("comment toegevoegd");
                    })

                    .catch(errors => {
                        if(errors.response.status == 401){
                            window.location = '/login';
                        }
                    });

                } else {
                    this.error = 'Veld mag niet leeg zijn';
                    console.log("veld is leeg!");
                }
                this.field = '';
            }
        },
    }
</script>
