<template>
<div>
    <div :id="'section-id-'+postId" class="comment-section">
        <hr>
            <div v-for="comment in comments" :key="comment.id">
                <p :id="'comment-id-'+ comment.comment_id">
                    <a :href="'/profile/' + comment.profile_id">
                        <span class="font-weight-bold text-dark"> {{ comment.profile_title  }}</span>
                    </a>
                    {{ comment.description }}
                    <delete-button :comment-id="comment.comment_id"
                        :route="'/comment/' + comment.comment_id +'/delete'"
                        :csrf="csrf">
                    </delete-button>
                </p>
            </div>
    </div>
    <div v-if="showMoreBtn === true" class="d-flex justify-content-center">
        <load-comments @clicked="onClickChild" @no_comments="hideShowMoreBtn" :post-id="postId"></load-comments>
    </div>
    <div v-else>
        <hide-comment :post-id="postId">Hide Comments</hide-comment>
    </div>
    <div>
        <comment-form :commenter-name="commenterName" :post-id="postId" :profile-id="profileId"></comment-form>
    </div>
</div>
</template>
<script>

import axios from 'axios';

export default {

        props:[
            'postId',
            'csrf',
            'commenterName',
            'profileId',
        ],

        data(){
            return{
                comments: [],
                showMoreBtn: true,
            }
        },

        mounted(){
            this.loadComments();
        },

        methods:{
            loadComments: function(){

                const url = '/comments/' + this.postId;
                axios.get(url,{
                    params:{
                        'skip': 0
                    }
                })
                .then((response) => {
                    this.comments.push(...response.data.data);
                })
                .catch((err) => {
                    console.log(err);
                    console.log('error found');
                })
            },
            onClickChild: function(value){
                this.comments.push(...value);
                console.log(value);
            },
            hideShowMoreBtn: function (){
                this.showMoreBtn = false;
            }
        }
}
</script>
<style scoped>
    .comment-section{
        min-height: 200px;
        max-height: 400px;
        overflow-y: scroll;
    }
</style>
