<template>
        <!-- <div class="d-flex flex-row">
            <form :action="route" method="post">
            <input type="hidden" name="_token" :value="csrf">
            <input type="hidden" name="_method" value="delete">
            <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
            </form>
        </div> -->

        <button @click="deleteComment" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
</template>
<script>

    export default{
        props:['csrf', 'route', 'commentId'],

        methods:{
            deleteComment:function(){

                axios({
                    method: 'post',
                    url: this.route,
                    data: {
                        _method: 'delete',
                        _token: this.csrf,
                    }
                })
                .then(response => {

                    const comment = $('#comment-id-' + this.commentId);
                    console.log(comment);

                    comment.hide('slow');

                    console.log("comment verwijderd");
                })

                .catch(errors => {
                    if(errors.response.status == 401){
                        window.location = '/login';
                    }
                });
            }
        }
    }
</script>
