<template>
    <button @click="hideComment" class="btn btn-dark"></button>
</template>
<script>
    export default{
        props:[
            'postId'
        ],
        methods:{
            hideComment:function(){
                // document.getElementById("section-id-" + this.postId).style.visibility = "hidden";
                $( "#section-id-" + this.postId ).toggle('slow');
            }
        }
    }
</script>
