<template>
    <div>
        <button @click="loadFunction" id="load-button" class="btn btn-primary">Laad Comments</button>
    </div>
</template>
<script>
    export default{
        props:[
            'postId',
        ],

        data(){
            return{
                comments: [],
                skipCounter: 0,
            }
        },

        methods:{
            loadFunction: function(){

                this.counterFunction()

                const url = '/comments/' + this.postId;
                axios.get(url, {
                    params:{
                        'skip':  this.skipCounter,
                    }
                })
                .then((response) => {
                    console.log(response.data.data);
                    if(response.data.data.length != 0){

                        this.comments.push(response.data.data);
                        this.$emit('clicked', response.data.data)
                    } else {
                        this.$emit('no_comments');
                    }

                })
                .catch((err) => {
                    console.log(err);
                    console.log('error found');
                })
            },

            counterFunction: function(){
                this.skipCounter += 3;
            }
        }
    }
</script>
