<template>
    <div>
        <input type="search" v-model="search" class="form-control"  placeholder="Search Profile" @input="isTyping = true">
        <div class="results">
            <div v-if="search.length > 0" class="card">
                <div v-if="users.length > 0">
                    <div v-for="user in users" :key="user.id">
                        <a :href="'/profile/' + user.user_id">
                            <p class="p-1 mb-0">
                                <div class="d-inline-block" v-if="user.profile_image">
                                    <img class="rounded-circle search-user-image" :src="'/storage/' + user.profile_image">
                                </div>
                                <div class="d-inline-block" v-else>
                                    <img class="rounded-circle search-user-image" src="/storage/image/1_7tlP1ph61ompULJdycVJlQ.png">
                                </div>

                                <strong> {{ user.username }}</strong>
                            </p>
                        </a>
                    </div>
                </div>
                <div class="p-0 m-0" v-else>
                    <p class="p-1 mb-0">Geen users gevonden!</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{

        data(){
            return{
                users: [],
                search: '',
                isTyping: false,
            }
        },

        methods: {

            searchUsers(){
                console.log(this.users.length);

                axios({
                    method: 'get',
                    url: '/api/search/user',
                    params: {
                        search: this.search,
                    }
                })
                .then(response => {
                    this.users = response.data.data;
                })
                .catch(errors => {
                    if(errors.response.status == 401){
                        window.location = '/login';
                    }
                });
            }
        },

        watch: {

            search: _.debounce(function() {

                this.isTyping = false;
            }, 600),
            isTyping: function(value) {

                if (!value) {
                    this.searchUsers();
                }
            },
        },

    }
</script>

<style scoped>

    .search-user-image{
        max-width: 30px;
    }

    .results{
        position: absolute;
    }
</style>
