<template>
    <div>
        <button @click="topFunction" id="top-button" class="btn btn-primary"><i class="fas fa-arrow-up"></i></button>
    </div>
</template>
<script>
    export default{

        mounted(){
            this.checkScroll(1);
            window.addEventListener("scroll", this.checkScroll);
        },

        methods : {
            topFunction:function(){
                // document.body.scrollTop = 0;
                // document.documentElement.scrollTop = 0;

                jQuery("html,body").animate({scrollTop: 0}, 1000);
                // window.scrollTo({ top: 0, behavior: 'smooth' });
            },

            checkScroll: function(initPageLoad = 'button checken'){
                // const myId = document.getElementById("#top-button");
                var y = window.scrollY;

                // console.log(initPageLoad);
                if(initPageLoad === 1){

                    // console.log('pagina geladen, button moet niet zichtbaar zijn');
                    $("#top-button").css("display", "none");
                } else {
                    // console.log('pagina was al geladen, nu controleren of button zichtbaar moet zijn of niet');
                    if(y > 0){
                        // console.log('pagina was al geladen, en de hoogte is groter dan 0, dus button showen');
                        $("#top-button").fadeIn("slow")
                    }else{
                        // console.log('pagina was al geladen, en de hoogte is 0, dus button hiden');
                        $("#top-button").fadeOut("slow")
                    }
                }
            }
        }
    }
</script>
